<div style="@Style">
    @if (string.IsNullOrWhiteSpace(ErrorMessage))
    {
        @((MarkupString)Markup)
    }
    else
    {
        if (ErrorTemplate is not null)
        {
            @ErrorTemplate(ErrorMessage)
        }
        else if (ShowExceptionMessages)
        {
            @ErrorMessage;
        }
    }  
</div>
